body {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 800px;
    background-color: #222222;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    width: 100vw;
    height: 25px;
    background: #000000;
    color: aliceblue;
font-weight: bold;
}

#getOpinionButton {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 22px 15px;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.2s linear;
}

#getOpinionButton:active {
    transform: scale(.96);
    transform-origin: top left;
}

#opinionResult {
    margin: 20px 5px;
    font-size: 16px;
    padding: 0px 20px;
    color: aliceblue;
}

.fancy-border-radius {
    border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;


    width: 35vw;
    height: 15vh;
    background: #ad5389;
    background: -webkit-linear-gradient(to right,
    #3c1053,
    #ad5389);
    background: linear-gradient(to right,
    #3c1053,
    #ad5389);
}

.typewriter h1 {
    overflow: hidden; 
    border-right: 2px solid #333; 
    white-space: nowrap; 
    margin: 0;
    letter-spacing: 4px; 
    animation: typing 2s steps(40) infinite, blink-caret 1s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}
